body {
  margin: 0;
  padding: 0;
  background-color: #24272c;
  font-family: "Roboto", sans-serif;
}
.cardBase {
  background: #24272c;
  box-shadow: 0px 4px 16px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  color: #b6b6b6;
  font-weight: 700;
}
.card3 {
  position: absolute;
  width: 606.35px;
  height: 500px;
  left: 809px;
  top: 25px;
}

.card5 {
  position: absolute;
  width: 762px;
  height: 535px;
  left: 22px;
  top: 434px;
}
.card7 {
  position: absolute;
  width: 606px;
  height: 194px;
  left: 809px;
  top: 775px;
}

/* ----------------------- Time ----------------------- */
.card__clock {
  position: absolute;
  width: 282px;
  height: 134px;
  left: 24px;
  top: 25px;
  font-size: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.time__colon {
  height: fit-content;
  animation: blinkingText 1.2s infinite linear;
}

@keyframes blinkingText {
  49% {
    color: inherit;
  }
  50% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
}

/* ----------------------- Date ----------------------- */
.card__Date {
  position: absolute;
  width: 453px;
  height: 134px;
  left: 331px;
  top: 25px;
  font-size: 36px;
  display: flex;

  align-items: center;
  justify-content: center;
}
#day,
#month,
#year {
  margin-left: 10px;
}
/* ----------------------- Verse ----------------------- */
.card__verse {
  position: absolute;
  width: 762px;
  height: 225px;
  left: 22px;
  top: 184px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#verse {
  padding-top: 41px;
  width: 638px;
  text-align: center;
  padding-bottom: 39px;
  letter-spacing: 2.5%;
  font-weight: 700;
}
/* ----------------------- Uptime ----------------------- */
.light {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-left: 11px;
}
.uptimePortfolio {
  position: absolute;
  width: 293px;
  height: 43px;
  left: 809px;
  top: 551px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 36px;
}
.website {
  font-weight: 700;
  font-size: 16px;
  width: 191;
  text-align: center;
}
#uptimeLightPortfolio {
  background-color: #fcba03;
}

.uptimeYoutube {
  position: absolute;
  width: 293px;
  height: 43px;
  left: 1122px;
  top: 551px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 36px;
}
#uptimeLightYoutube {
  background-color: #fcba03;
}

.uptimeTraily {
  position: absolute;
  width: 293px;
  height: 43px;
  left: 809px;
  top: 603px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 36px;
}

#uptimeLightTraily {
  background-color: #fcba03;
}

.uptimetest1 {
  position: absolute;
  width: 293px;
  height: 43px;
  left: 1122px;
  top: 655px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 36px;
}

#uptimeLightPortfolio {
  background-color: #fcba03;
}
.uptimetest2 {
  position: absolute;
  width: 293px;
  height: 43px;
  left: 1122px;
  top: 603px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 36px;
}

#uptimeLightPortfolio {
  background-color: #fcba03;
}
.uptimetest3 {
  position: absolute;
  width: 293px;
  height: 43px;
  left: 809px;
  top: 707px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 36px;
}

#uptimeLightPortfolio {
  background-color: #fcba03;
}

.uptimeCalc {
  position: absolute;
  width: 293px;
  height: 43px;
  left: 809px;
  top: 655px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 36px;
}

#uptimeLightCalc {
  background-color: #fcba03;
}
.uptimetest6 {
  position: absolute;
  width: 293px;
  height: 43px;
  left: 1122px;
  top: 707px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 36px;
}

#uptimeLightPortfolio {
  background-color: #fcba03;
}
