.weather-card-current__wrapper {
  border: 1px solid red;
  height: 23.125rem;
  width: 18.5rem;
  border-radius: 3rem;
}

.wrapper__content {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.content__top-section {
  padding-top: 2rem;
  padding-left: 5.25rem;
  padding-right: 5.25rem;
}

.top-section {
  &__today {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 2.42rem;
    padding-bottom: 2.5rem;
  }
  &__temprature {
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    line-height: 5.44625rem;
  }
}
.info {
  &__humidity {
    font-size: 9px;
  }
  &__wind {
    font-size: 9px;
  }
  &__temprature {
    font-size: 15px;
  }
}
.content__stats {
  display: flex;
  flex-direction: row;
  gap: 1.625rem;
  padding-left: 1.75rem;
  padding-bottom: 3.26rem;
}
.test {
  width: 37px;
}
